<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="#{site.title}"></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>ユーザ新規作成</h1>
    <form
      method="post"
      th:action="@{/common/register}"
      th:object="${userSaveForm}"
      class="row g-3 m-3"
    >
      <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}"
      />
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">ユーザID</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail4"
          th:field="*{username}"
        />
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">パスワード</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword4"
          th:field="*{password}"
        />
      </div>
      <div class="col-md-6">
        <label for="inputfirstName" class="form-label">姓</label>
        <input
          type="text"
          class="form-control"
          id="inputfirstName"
          th:field="*{firstName}"
        />
      </div>
      <div class="col-md-6">
        <label for="inputlastName" class="form-label">名</label>
        <input
          type="text"
          class="form-control"
          id="inputlastName"
          th:field="*{lastName}"
        />
      </div>

      <div class="col-md-2">
        <label for="inputZip" class="form-label">郵便番号</label>
        <input
          type="text"
          class="form-control"
          id="inputZip"
          th:field="*{zip}"
        />
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">都道府県</label>
        <select id="inputState" class="form-select" th:field="*{prefectures}">
          <option value="">都道府県</option>
          <option selected value="東京都">東京都</option>
        </select>
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">市町村</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress2"
          th:field="*{city} "
        />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">番地以降</label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="番地、アパート名、マンション名、部屋番号"
          th:field="*{address}"
        />
      </div>
      <div class="col-md-6">
        <label for="telno" class="form-label">電話番号</label>
        <input
          type="text"
          class="form-control"
          id="telno"
          th:field="*{telno}"
        />
      </div>

      <div class="col-12">
        <button class="btn btn-primary" type="submit">作成</button>
      </div>
    </form>
  </body>
</html>
