<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.mgsystems.yuricollection.gootscatalog.mappers.OrdersMapper">
    <update id="update">
        UPDATE 
            orders 
        SET
          product_id = #{productId}, 
          stock_cnt = #{stockCnt},
          comment = #{comment},
          created_at = #{createdAt}
        WHERE
          stock_id = #{stockId}
      </update>
      <insert id="insert" parameterType="jp.co.mgsystems.yuricollection.gootscatalog.beans.Order">
        INSERT INTO
          orders
        (
          user_id,
          product_id,
          order_cnt,
          created_at,
          updated_at
        )
        VALUES (
          #{userId},
          #{productId},
          #{orderCnt},
          now(),
          null
        )
      </insert>
  
</mapper>