<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.mgsystems.yuricollection.gootscatalog.mappers.StocksMapper">
  <resultMap id="stockMap" type="jp.co.mgsystems.yuricollection.gootscatalog.beans.Stock" autoMapping="true">
  </resultMap>
  <select id="getStockByCondition" resultMap="stockMap">
    SELECT
      stock_id,
      stocks.product_id as product_id,
      products.product_name as product_name,
      genres.genre_name as genre_name,
      stock_cnt,
      stocks.version as version,
      stocks.created_at as created_at,
      stocks.updated_at as updated_at
    FROM
      stocks 
      LEFT OUTER JOIN products 
          ON stocks.product_id = products.product_id 
      LEFT OUTER JOIN genres 
          ON products.genre_id = genres.genre_id
    <where>
      <if test="genreId != null">
        AND products.genre_id = #{genreId}
      </if>
      <if test="keyword != null">
        AND products.product_name LIKE CONCAT('%', #{keyword}, '%')
      </if>
    </where>
    ORDER BY
      stocks.stock_id
  </select>
  <select id="getStockById" resultMap="stockMap">
    SELECT
      stock_id,
      stocks.product_id as product_id,
      products.product_name as product_name,
      genres.genre_name as genre_name,
      stock_cnt,
      stocks.version as version,
      stocks.created_at as created_at,
      stocks.updated_at as updated_at
    FROM
      stocks 
      LEFT OUTER JOIN products 
          ON stocks.product_id = products.product_id 
      LEFT OUTER JOIN genres 
          ON products.genre_id = genres.genre_id
    WHERE
      stock_id = #{stockId}
  </select>

    <update id="update">
        UPDATE 
            stocks 
        SET
          product_id = #{productId}, 
          stock_cnt = #{stockCnt},
          version = version + 1,
          updated_at = now()
        WHERE
          stock_id = #{stockId}
      </update>
      <insert id="insert" parameterType="jp.co.mgsystems.yuricollection.gootscatalog.beans.Stock">
        INSERT INTO
          stocks
        (
          product_id,
          stock_cnt,
          version,
          created_at,
          updated_at
        )
        VALUES (
          #{productId},
          #{stockCnt},
          1,
          now(),
          null
        )
      </insert>
  
      <delete id="delete" parameterType="jp.co.mgsystems.yuricollection.gootscatalog.beans.Stock">
        DELETE FROM
          stocks
        WHERE
          stocks.stock_id = #{stockId}
      </delete>
</mapper>